@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}




.middle-nav {
    position: relative;
    background-color: #ffffff;
    padding: 0.5rem 2rem;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
    border: 2px solid #0061f3;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 6px rgba(112, 109, 109, 0.959);
}

.middle-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.middle-nav a:hover {
    color: #878b8f;
}


#testCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.test-card {
    margin-bottom: 20px;
    flex: 0 0 48%;
}




@media (max-width: 768px) {
    .middle-nav {
        clip-path: none;
        border-radius: 0;
        box-shadow: none;
        padding: 0.5rem 1rem;
    }
}


#englishWordSuggestions {
    max-height: 200px;
    overflow-y: auto;
}

.suggestion-item {
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f8f9fa;
}
